<div class="col-md-12">
	<div class="widget">
		<h2>Enviar notificación</h2>
		<div class="row">
			<div class="col-md-6">
				<div class="form-horizontal" ng-form="form">
					<div class="form-group">
						<label class="control-label col-md-3">Destino</label>
						<div class="col-md-9">
							<ui-select multiple ng-model="vm.notification.users" theme="bootstrap" sortable="true" close-on-select="false" class="form-control" ng-disabled="vm.all">
								<ui-select-match placeholder="Seleccione los usuarios a los que desee enviar notificación">{{$item.name}} {{$item.lastname}}</ui-select-match>
								<ui-select-choices repeat="u.id as u in vm.users">
									<div ng-bind-html="u.name + ' ' + u.lastname | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-offset-3 col-md-9">
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="vm.all" ng-true-value="true" ng-false-value="false" ng-change="vm.selectAll()"> Enviar a todos
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Mensaje</label>
						<div class="col-md-9">
							<textarea class="form-control" ng-model="vm.notification.msg"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-success btn-block" ng-disabled="vm.notification.msg === '' || (vm.all === false && vm.notification.users.length === 0)" ng-click="vm.sendNotification()"><i class="fa fa-paper-plane-o"></i> Enviar</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
