<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Evaluar la respuesta</h3>
</div>
<div class="modal-body text-center" id="modal-body">
	<button class="btn" ng-class="vm.answer.grade === 50 ? 'btn-primary':'btn-default'" ng-click="vm.setGrade(50)">Insuficiente</button>
	<button class="btn" ng-class="vm.answer.grade === 80 ? 'btn-primary':'btn-default'" ng-click="vm.setGrade(80)">Aprobado</button>
	<button class="btn" ng-class="vm.answer.grade === 100 ? 'btn-primary':'btn-default'" ng-click="vm.setGrade(100)"><i class="fa fa-star"></i></button>
</div>
<div class="modal-footer">
    <div class="col-md-offset-2 col-md-4">
		<button class="btn btn-primary btn-block" type="button" ng-click="vm.close()">Cerrar</button>
	</div>
    <div class="col-md-4">
        <button class="btn btn-success btn-block" type="button" ng-click="vm.evaluateAnswer()">Aceptar</button>
    </div>
</div>
