<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Archivo respuesta</h3>
</div>
<div class="modal-body text-center" id="modal-body">
	<img ng-src="{{vm.url}}" alt="" width="200" ng-if="vm.type === 3">
	<video ng-if="vm.type === 4" controls="controls"  preload="metadata" style="width: 500px;">
		<source ng-src="{{vm.url}}" type="video/mp4">
	</video>
</div>
<div class="modal-footer">
	<div class="col-md-offset-4 col-md-4">
		<button class="btn btn-primary btn-block" type="button" ng-click="vm.close()">Cerrar</button>
	</div>
</div>
