<div class="col-md-12">
    <div class="widget">
        <div class="user-content" ng-if="vm.questions[0].exam.length > 0 && vm.questions[0].exam[0].answer !== null">
            <div class="content-name">
                <h3>{{vm.questions[0].name}}</h3>
            </div>
            <div class="content-details">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Pregunta</th>
                                <th class="text-center">Respuesta</th>
                                <th class="text-center">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="q in vm.questions[0].exam">
                                <td class="align-middle" style="width: 60%;">{{q.question}}</td>
                                <td class="align-middle text-center" style="width: 30%;">
                                    <span ng-if="q.exam_answer_type_id == 1">{{q.answer.answer}}</span>
                                    <span ng-if="q.exam_answer_type_id == 2">{{vm.textAnswer(q)}}</span>
									<span ng-if="(q.exam_answer_type_id == 3 || q.exam_answer_type_id == 4) && (q.answer.answer == '' && q.answer.is_valid == 1)">El archivo se envió por otro medio</span>
                                    <a href="" ng-if="(q.exam_answer_type_id == 3 || q.exam_answer_type_id == 4) && q.answer.answer != ''" ng-click="vm.fileModal(q)">Ver archivo</a>
                                </td>
                                <td class="align-middle text-center" style="width: 10%;">
                                    <span class="label label-success" ng-if="q.exam_answer_type_id == 2 && (q.correct_answer_id == q.answer.answer)">Correcto</span>
                                    <span class="label label-danger" ng-if="q.exam_answer_type_id == 2 && (q.correct_answer_id != q.answer.answer)">Incorrecto</span>
                                    <a href="" ng-click="vm.evaluateModal(q)" ng-if="q.exam_answer_type_id != 2 && !q.grade">Calificar respuesta</a>
                                    <a href="" ng-click="vm.evaluateModal(q)" ng-if="q.exam_answer_type_id != 2 && q.grade">{{q.grade}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="content-actions" ng-if="vm.self_grade === false && vm.evaluated === false">
                        <div class="col-md-12">
                            <div class="row">
                                <!-- <p>Califica el desempeño del ejecutivo en este examen</p>
                                <div class="col-md-6">
                                    <button class="btn" ng-class="vm.grade == 50 ? 'btn-primary' : 'btn-default'" ng-click="vm.setGrade(50)">Insuficiente</button>
                                    <button class="btn" ng-class="vm.grade == 80 ? 'btn-primary' : 'btn-default'" ng-click="vm.setGrade(80)">Aprobado</button>
                                    <button class="btn" ng-class="vm.grade == 100 ? 'btn-primary' : 'btn-default'" ng-click="vm.setGrade(100)"><i class="fa fa-star"></i></button>
                                </div> -->
                                <div class="col-md-4">
                                    <!-- <button class="btn btn-success btn-block" ng-disabled="!vm.grade" ng-click="vm.grade && vm.evaluateExam()">Guardar y calificar</button> -->
                                    <button class="btn btn-success btn-block" ng-click="vm.evaluateExam()">Guardar y calificar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-content" ng-if="vm.questions[0].exam.length == 0 || vm.questions[0].exam[0].answer === null">
            <h3>No se ha respondido a este examen</h3>
        </div>
    </div>
</div>
