<div class="col-md-12">
    <div class="widget">
        <div class="user-modules">
            <div class="module-name">
                <h2>
					{{vm.block.name}}
					<button class="btn btn-info btn-sm pull-right" ng-click="vm.reload()"><i class="fa fa-refresh"></i> Recargar</button>
				</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Módulo</th>
                            <th class="text-center">Estatus</th>
                            <th class="text-center">Calificación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="module in vm.modules" class="cursor-pointer" ui-sref=".content({moduleId: module.id})">
                            <td>{{module.name}}</td>
                            <td class="text-center">
                                <span class="label label-success" ng-if="module.grade > -1">Revisado</span>
                                <span class="label label-info" ng-if="module.grade == -1">En curso</span>
                            </td>
                            <td class="text-center">
                                <grade value="module.grade" show-full="true"></grade>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
