<div class="row">
    <div class="admin-page">
        <div class="admin-sidebar">
            <div class="admin-logo">
                <img src="app/assets/logo.png" alt="" class="img-responsive logo-img">
            </div>
            <div class="admin-welcome">
                <h3>Bienvenido, Admin</h3>
                <p>{{vm.user.name + ' ' + vm.user.lastname}}</p>
            </div>
            <div class="admin-options">
                <ul>
                    <li>
                        <a ui-sref=".table">
                            <i class="fa fa-user"></i>
                            Status alumnos
                        </a>
                    </li>
                    <li><a ui-sref=".exams"><i class="fa fa-file-text"></i> Exámenes pendientes</a></li>
                    <li><a ui-sref=".user"><i class="fa fa-user-plus"></i> Alta alumnos</a></li>
                    <li><a ui-sref=".notification"><i class="fa fa-paper-plane"></i> Notificaciones</a></li>
                </ul>
            </div>
        </div>
        <div id="admin-content">
            <div ui-view></div>
        </div>
    </div>
</div>
