$sidebar: 300px;
$bg-image: '../app/assets/app_bg.jpg';
$sidebar-bg: #e6e5e0;
$font-primary: #dacccc;
$primary: #373a3e;
$border-admin: #555763;
.admin-page{
    height: calc(100vh - 51px);
    .admin-sidebar{
        display: inline-block;
        float: left;
        background: $primary;
        border-right: 1px solid $border-admin;
        width: $sidebar;
        height: 100%;
        .admin-welcome{
            padding: 10px;
            color: $font-primary;
            h1,h2,h3,h4,h5,h6,p{
                color: inherit;
            }
        }
        .admin-options{
            button {
                display: block;
                margin: 5px 0px;
            }
        }
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                color: $font-primary;
                font-size: 1.1em;
                border-bottom: 1px solid $border-admin;
                &:first-child{
                    border-top: 1px solid $border-admin;
                }
                &:hover{
                    background: $primary;
                    color: white;
                }
                a{
                    padding: 6px 12px;
                    padding-left: 40px;
                    color: inherit;
                    width: 100%;
                    display: block;
                    position: relative;
                    i{
                        position: absolute;
                        left: 12px;
                    }
                    &:hover,&:focus, &:active{
                        text-decoration: none;
                    }
                }
            }
        }
        .admin-logo{
            .logo-img{
                width: 70%;
                margin: 0 auto;
            }
        }
    }
    #admin-content {
        margin-left: $sidebar;
        padding: 10px;
        width: calc(100% - $sidebar);
        height: 100%;
        background: url($bg-image);
    }
}
