<div class="col-md-12">
	<div class="widget">
		<h2>Examenes pendientes</h2>
		<div class="table-responsive" ng-if="vm.exams.data.length > 0">
			<table class="table table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th>Usuario</th>
						<th>Modulo</th>
						<th>Accion</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="e in vm.exams.data">
						<td>{{e.user_name}} {{e.user_lastname}}</td>
						<td>{{e.module_id}}</td>
						<td><button uib-tooltip="Revisar" class="btn btn-xs btn-success" ui-sref="app.user.module.content({id: e.user_id, blockId: e.block_id, moduleId: e.module_id})"><i class="fa fa-pencil-square-o"></i></button></td>
					</tr>
				</tbody>
			</table>
		</div>
        <h4 ng-if="vm.exams.data.length == 0" class="light-text">No hay exámenes pendientes</h4>
	</div>
</div>
