<span class="grade grade-red" ng-if="vm.case === 1" ng-attr-title="{{'Calificación estrella con: ' + vm.value}}">
    <i class="fa fa fa-star"></i>
</span>
<span class="grade" ng-if="vm.case === 2" ng-attr-title="{{'Aprobado con: ' + vm.value}}">
    {{ vm.showFull ? 'Aprobado': 'A'}}
</span>
<span class="grade grade-red" ng-if="vm.case === 3" ng-attr-title="{{'Insucifiente con: ' + vm.value}}">
    {{ vm.showFull ? 'Insuficiente': 'I'}}
</span>
<span class="grade" ng-if="vm.case === 4">
    {{ vm.showFull ? 'Pendiente': 'Pdte'}}
</span>
