$sidebar: 450px;
$sidebar-bg: #e6e5e0;
$bg-image: '../app/assets/app_bg.jpg';
$font-primary: #dacccc;
$primary: #373a3e;
$border-admin: #555763;
.user-page{
    height: calc(100vh - 51px);
    .user-sidebar{
        display: inline-block;
        float: left;
        background: $primary;
        border-right: 1px solid #b0b0b0;
        width: $sidebar;
        height: 100%;
        position: relative;
        .user-info{
            &:after{
                clear: both;
                content: '';
                display: block;
            }
            .user-avatar{
                height: 100%;
                display: inline-block;
                width: 30%;
                float: left;
                padding-right: 15px;
                padding-left: 15px;
                color: $font-primary;
                img {
                    border-radius: 50%;
                    border: 6px solid #2b613d;
                    width: 100%;
                }
            }
            .user-data{
                display: inline-block;
                width: 70%;
                float: left;
                margin-top: 0px;
                color: $font-primary;
                &:after{
                    content: '';
                    display:block;
                    clear: both;
                }
            }
        }
        .course{
            margin-top: 10px;
            .block{
                margin: 10px 0px;
                &:after{
                    content: '';
                    display: block;
                    clear: both;
                }
            }
            .grades{
                background: #fff;
                text-align: center;
                padding: 7px;
                font-size: 16px;
                border-radius: 1px;
                line-height: 1.3333;
            }
        }
        .user-footer{
            margin-top: 15px;
            &:before{
                display: table;
                content: '';
            }
            &:after{
                content: '';
                display: block;
                clear: both;
            }
        }
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                color: $font-primary;
                font-size: 1.4em;
                &:hover{
                    background: #3c3c3c;
                }
                a{
                    padding: 6px 12px;
                    color: inherit;
                    width: 100%;
                    display: block;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
    #user-content {
        margin-left: $sidebar;
        padding: 10px;
        width: calc(100% - $sidebar);
        height: 100%;
        background: url($bg-image);
    }
}
