<div class="row">
	<div class="user-page">
		<div class="user-sidebar">
			<button class="btn btn-success btn-link pull-right" ui-sref="app.admin.table" style="position: absolute;right: 2px;top: 48px;z-index: 999;"><i class="fa fa-2x fa-arrow-left"></i></button>
			<div class="user-info">
				<div class="user-avatar">
					<img ng-src="{{vm.profileUrl()}}" alt="">
				</div>
				<div class="user-data">
					<h3>{{vm.user.name}} {{vm.user.lastname}}</h3>
					<h5>{{vm.user.city}}, {{vm.user.state}}</h5>
					<h6>{{vm.user.diploma ? 'Draught Master' : 'Trainee'}}</h6>
					<!-- <h6>{{vm.user.city}}, {{vm.user.state}}</h6> -->
					<!-- <div class="text-right">
						Calificación<br> acumulada
					</div>
					<div class="text-right">
						<button class="btn btn-primary">Draught Master</button>
						<button class="btn btn-warning"><i class="fa fa-star"></i></button>
					</div> -->
				</div>
			</div>
			<div class="course">
				<div class="block" ng-repeat="block in vm.blocks" ng-if="block.id != 6">
					<div class="col-md-9">
						<button class="btn btn-success btn-block no-radius btn-sm" ui-sref=".module({blockId: block.id})">{{block.name}}</button>
					</div>
					<div class="col-md-3">
						<div class="grades">
							<grade value="block.grade"></grade>
						</div>
					</div>
				</div>
			</div>
            <div class="user-footer">
                <div class="col-md-4">
                    <button class="btn btn-warning btn-sm btn-block" notification-modal user="vm.user">Enviar notificacion</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-warning btn-sm btn-block" ng-click="vm.sendInvitation()">Enviar invitacion</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-warning btn-sm btn-block" ng-click="vm.sendCertificate()">Enviar certificado</button>
                </div>
            </div>
		</div>
		<div id="user-content">
			<div ui-view></div>
		</div>
	</div>
</div>
