<div id="wrapper">
    <!-- Navigation -->
    <header></header>
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
    <div id="page-wrapper">
        <div ui-view class="container-fluid">
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
