<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Enviar Notificación</h3>
</div>
<div class="modal-body text-center" id="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-3">Destino</label>
            <div class="col-md-9">
                <input ng-if="vm.user" type="text" class="form-control" value="{{vm.user.name + ' ' + vm.user.lastname}}" ng-disabled="true">
                <p ng-if="!vm.user" style="margin: 0;text-align:left;margin-top:11px">Todos</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Mensaje</label>
            <div class="col-md-9">
                <textarea class="form-control" ng-model="vm.notification.msg"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="vm.close()"><i class="fa fa-times"></i> Cerrar</button>
    <button class="btn btn-success" type="button" ng-click="vm.sendNotification()" ng-disabled="vm.notification.msg === ''"><i class="fa fa-paper-plane-o"></i> Enviar</button>
</div>
