<div class="login-form">
    <div class="text-center login-container" style="padding:50px 0">
        <div class="logo animated fadeIn"><img src="app/assets/logo.png" alt=""></div>
        <!-- Main Form -->
        <div class="login-form-1 animated fadeIn">
            <div id="login-form" class="text-left" ng-form="form" novalidate ng-enter="form.$valid && vm.login()">
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">
                            <label class="sr-only">Username</label>
                            <input required type="text" class="form-control" id="lg_username" ng-model="vm.username" placeholder="username">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Password</label>
                            <input required type="password" class="form-control" id="lg_password" ng-model="vm.password" placeholder="password">
                        </div>
                    </div>
                    <button class="btn btn-dm btn-block login-btn" ng-click="vm.login()" ng-disabled="form.$invalid">Login</button>
                    <!--<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>-->
                </div>
            </div>
        </div>
        <!-- end:Main Form -->
    </div>
</div>
