<div class="col-md-12">
    <div class="widget">
        <h2>
            Status de alumnos
            <button class="btn btn-info btn-sm pull-right" notification-modal><i class="fa fa-envelope"></i> Notificar a todos</button>
        </h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover" ev-table collection="vm.users">
                <thead>
                    <th class="align-middle">Nombre</th>
                    <th class="align-middle text-center">Avance modulos</th>
                    <th class="align-middle text-center">Calificacion</th>
                    <th class="align-middle text-center">Estatus exámenes</th>
                    <th class="align-middle text-center">Notificación</th>
                    <th class="align-middle text-center">Estatus certificado</th>
                    <th class="align-middle text-center">Descargar Certificado</th>
                    <th class="align-middle text-center">Eliminar</th>
                </thead>
                <tbody>
                    <tr ng-repeat="user in $rows">
                        <td class="align-middle"><a ui-sref="app.user({id: user.id})">
                            {{user.name + ' ' + user.lastname}}</a>
                        </td>
                        <td class="align-middle text-center">
                            {{user.module_percentage | number:2}}%
                        </td>
                        <td class="align-middle text-center">
                            <grade value="user.grade" show-full="true"></grade>
                        </td>
                        <td class="align-middle text-center">
                            APROB
                        </td>
                        <td class="align-middle text-center">
                            <a href="" notification-modal user="user">Enviar</a>
                        </td>
                        <td class="align-middle text-center">
                            {{user.diploma ? 'Draught Master' : 'Trainee'}}
                        </td>
						<td class="align-middle text-center">
							<a ng-href="{{user.diploma ? vm.getPdfUrl(user.id) : 'javascript:void(0)'}}" class="btn btn-xs btn-success" ng-disabled="!user.diploma" uib-tooltip-html="'Es necesario ser Draught Master para obtener un certificado.<br>Se necesita enviar un certificado al usuario para poder descargarlo posteriormente.'" tooltip-enable="!user.diploma" tooltip-placement="bottom"><i class="fa fa-file-pdf-o"></i></a>
						</td>
						<td class="align-middle text-center"><button class="btn btn-xs btn-danger" ng-click="vm.deleteUser(user)"><i class="fa fa-trash"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
