@import "theme/variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "app/styles/sb-admin.scss";
@import "theme/bootswatch";
@import "app/components/login/login.scss";
@import "app/components/admin/admin.scss";
@import "app/components/user/user.scss";
@import "app/components/grade/grade.scss";
@import "app/components/user/user-modules/user-modules.scss";
@import "app/components/user/user-content/user-content.scss";
.margin{
    margin: 0px 15px;
}
.margin-vertical{
    margin: 5px 0px;
}
.margin-horizontal{
    margin: 0px 5px;
}
.margin-top{
    margin-top: 5px;
}
.margin-bottom{
    margin-bottom: 5px;
}
.margin-left{
    margin-left: 5px;
}
.margin-right{
    margin-right: 5px;
}
.align-middle{
    vertical-align: middle !important;
}
.sweet-alert{
    p{
        white-space: pre;
    }
}
.dropdown a {
    color: white;
    &:hover, &:active, &:focus {
        color: $brand-primary;
    }
}
.logo-dm{
    width: 100px;
    margin-top: -4px;
    margin-left: 67px;
}
.widget {
    background: #fff;
    width: 100%;
    border-radius: 4px;
    padding: 20px;
    margin: 0;
    box-shadow: 0px 3px 9px 0px rgba(50, 50, 50, 0.48);
}
.no-radius {
    border-radius: 1px;
}
.label{
    font-family: 'Oswald';
}
.light-text{
    color: #aaa;
    font-style: italic;
}
#loading-bar {
    display: none;
}
#loading-bar-spinner {
    position: absolute;
    width: 100%;
height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    .spinner-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        border: solid 6px transparent;
        border-top-color: #ffffff;
        border-left-color: #e8efea;
    }
}
.pagination > .disabled > a{
	background-color: #81c29f;
	&:hover, &:active, &:focus {
		background-color: #81c29f;
	}
}
