<div class="col-md-12">
	<div class="widget">
		<h2>Crear usuario</h2>
		<div class="form-horizontal" novalidate ng-form="form">
			<h4>
				Complete los campos
			</h4>
			<div class="form-group">
				<label class="control-label col-md-2">Nombre(s)</label>
				<div class="col-md-9">
					<input type="text" class="form-control" placeholder="Nombre" required ng-model="vm.user.name">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Apellidos</label>
				<div class="col-md-9">
					<input type="text" class="form-control" placeholder="Apellidos" required ng-model="vm.user.lastname">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Correo electrónico</label>
				<div class="col-md-9">
					<input type="text" class="form-control" placeholder="ejemplo@dominio.com" required ng-model="vm.user.email">
				</div>
			</div>
			<!-- <div class="form-group">
				<label class="control-label col-md-2">Nombre de usuario</label>
				<div class="col-md-9">
					<input type="text" class="form-control" placeholder="Nombre de usuario" required ng-model="vm.user.username">
				</div>
			</div> -->
			<div class="form-group">
				<label class="control-label col-md-2">Ciudad</label>
				<div class="col-md-9">
					<input type="text" class="form-control" placeholder="Ciudad" required ng-model="vm.user.city">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Estado</label>
				<div class="col-md-9">
					<input type="text" class="form-control" placeholder="Estado" required ng-model="vm.user.state">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Rol</label>
				<div class="col-md-9">
					<select class="form-control" required ng-model="vm.user.profile_id">
								<option value="1">Administrador</option>
								<option value="2">Usuario</option>
							</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-9">
					<div class="row">
						<div class="col-md-6">
							<button class="btn btn-primary btn-block" ng-click="vm.clean()">Limpiar</button>
						</div>
						<div class="col-md-6">
							<input type="submit" class="btn btn-success btn-block" value="Registrar" ng-disabled="form.$invalid" ng-click="vm.save()">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
